
@font-face {
  font-family: 'Oranienbaum-Regular';
  src: url('../fonts/Oran/Oranienbaum-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Oran/Oranienbaum-Regular.woff') format('woff'), url('../fonts/Oran/Oranienbaum-Regular.ttf')  format('truetype'), url('../fonts/Oran/Oranienbaum-Regular.svg#Oranienbaum-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
